/* colors */
:root {
    --color-body: #f9fafb;
    --color-white: #fff;
    --color-gray: #d8d8d8;
    --color-gray-2: #e5e5e5;
    --color-gray-3: #f3f3f3;
    --color-gray-4: #959595;
    --color-gray-dark: #8e8e8e;
    --color-blue-dark: #363853;
    --color-blue: #004893;
    --color-blue-icon: #0d99ff;
    --color-blue-2: #0186d8;
    --color-white-2: #f2fcfe;
    --color-blue-light: #e5f6fd;
    --color-blue-light-2: #c1ebfb;
    --color-copyright: #4b5563;
    --color-border-input: #C9C9C9;
    --color-black-2: #36414C;
    --color-black-3: #4A545E;
    --color-black-4: #393939;
  }
  