@import "./reset.css";
@import "./colors.css";

body {
    background-color: var(--color-white);
    overflow-x: hidden;
}

input:not(input[type="checkbox"], input[type="submit"]) {
    outline: none;
    width: 420px;
    height: 60px;
    border: 1px solid var(--color-border-input);
    border-radius: 5px;
    padding: 2px 40px;
    font-size: 16px;
    color: var(--color-blue-dark);
}

/* ===== Login form ===== */
.form-container {
    display: flex;
    height: 1021px;
}
.form-content {
    width: calc(100% - 950px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}
.login-content-box,
.register-content-box {
    position: absolute;
    min-height: 751px;
    display: flex;
    top: 240px;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    padding: 20px 100px 20px 0;
    transition: .5s ease-out;
    opacity: 0;
    visibility: visible;
    z-index: -100;
}
.login-content-box.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.register-content-box.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.login-ui {
    width: 950px;
    background-image: url("../assets/images/bg-login.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.login-title,
.register-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-blue-dark);
    transition: .5s ease-out;
}
.login-title,
.register-title {
    transform: translateY(130%);
    opacity: 0;
    visibility: hidden;
}
.login-content-box.active .login-title,
.register-content-box.active .register-title {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}
.form-control {
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: space-between;
    transition: .5s ease-out;
}
.form-control input:focus + .placeholder,
.form-control input:not(:placeholder-shown) + .placeholder {
    transform: translateY(-170%);
}

.login-content-box form .form-control,
.register-content-box form .form-control {
    opacity: 0;
    visibility: hidden;
}
.login-content-box form .form-control:first-child {
    transform: translateY(-60%);
}
.register-content-box form .form-control:first-child {
    transform: translateY(120%);
}
.register-content-box form .form-control:nth-child(5) {
    transform: translateY(-120%);
}
.login-content-box form .form-control:nth-child(2) {
    transform: translateY(60%);
}
.login-content-box.active form .form-control,
.register-content-box.active form .form-control {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}



.placeholder {
    display: inline-block;
    position: absolute;
    padding: 3px;
    background-color: var(--color-white);
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--color-gray-dark);
    pointer-events: none;
    transition: .2s ease-in;
}
.form-control .form-icon {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}
.profile-icon,
.key-icon {
    right: 12px;
}
.tick-icon,
.password-icon {
    left: 12px;
}
.password-icon {
    cursor: pointer;
}
.remember-me-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.remember-me-container span {
    color: var(--color-blue-dark);
    font-size: 16px;
}
.remember-me-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.remember-password {
    color: var(--color-blue-icon);
    font-size: 16px;
}
.login-submit,
.register-submit {
    color: var(--color-white);
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: var(--color-blue);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 13px;
    transition: .5s ease-out;
    opacity: 0;
    visibility: visible;
}
.login-submit {
    transform: translateY(120%);
}
.register-submit {
    transform: translateY(-120%);
}
.login-content-box.active .login-submit,
.register-content-box.active .register-submit {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-out;
    opacity: 0;
    visibility: hidden;
}
.login-content-box.active .lines,
.register-content-box.active .lines {
    opacity: 1;
    visibility: visible;
}
.line-form-right,
.line-form-left {
    display: inline-block;
    width: 190px;
    height: 1px;
    background-color: var(--color-blue-dark);
    position: relative;
}
.line-form-left::before,
.line-form-right::after {
    background-color: var(--color-blue-dark);
}
.line-form-right::before {
    display: none;
}
.line-form-left::after {
    display: none;
}
.line-form-left::before {
    left: -2px;
}
.lines .circle {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--color-blue-icon);
    border-radius: 50%;
}
.circle::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 70%;
    background-color: var(--color-white);
    top: 50%;
    right: 50%;
    transform: translate(50%, -55%);
    border-radius: 50%;
}
.register-link,
.login-link {
    text-align: center;
    transition: .5s ease-out;
    opacity: 0;
    visibility: visible;
}
.login-link {
    transform: translateY(-60%);
}
.register-link {
    transform: translateY(60%);
}
.login-content-box.active .register-link,
.register-content-box.active .login-link {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.register-link h5 {
    font-size: 16px;
    font-weight: 400;
}
.register-link h5 a,
.login-link a {
    color: var(--color-blue);
}
.links-bottom {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    color: var(--color-gray-4);
    padding-right: 100px;
}
.links-bottom a {
    color: var(--color-gray-4);
    font-size: 12px;
}

.login-ui-box {
    margin-top: 330px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.login-ui-box .orbit-image img {
    mix-blend-mode: color-dodge;
}
.login-ui-text {
    display: flex;
    justify-content: center;
}
.login-ui-text img {
    transform: translateY(-80px);
}
.login-ui-text p {
    font-size: 29px;
    color: var(--color-white);
    writing-mode: sideways-lr;
    text-align: left;
    transform: translateY(-80px);
    font-weight: 400;
}
.login-ui-socials {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.line {
    display: inline-block;
    height: 1px;
    position: relative;
}
.login-ui-line {
    width: 195px;
    background-color: var(--color-gray);
}
.line::before,
.line::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    transform: rotate(45deg) translateY(-50%);
}
.login-ui-line::before,
.login-ui-line:after {
    background-color: var(--color-gray);
}
.login-ui-line::before {
    left: -2px;
    top: 0;
}
.login-ui-line:after {
    right: -2px;
    top: 0;
}
.socials a {
    padding: 5px;
}
.socials a img {
    width: 24px;
    height: 24px;
}
