@import "./reset.css";
@import "./colors.css";
@import "./header.css";
@import "./footer.css";

section:not(.section-slide, .section-header-service) {
  padding: 70px 90px;
}
.section-title {
  font-size: 30px;
  color: var(--color-blue-dark);
  padding-bottom: 20px;
  text-align: center;
}

/* ===== Slide section styles ===== */
.section-slide {
  width: 100%;
  height: 657px;
  background-image: url("../assets/images/top-image.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.slide-container {
  position: absolute;
  width: 100%;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}
.slide-options {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.slide-progress {
  width: 5px;
  height: 191px;
  background-color: var(--color-white);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.slide-progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: var(--color-blue);
}
.slide-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.slide-links ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
  color: var(--color-white);
}

.slide-items-box {
  position: relative;
  width: 985px;
  height: 433px;
  padding: 5rem;
  background: linear-gradient(76.79deg, #0065c8 0%, #00d5fc 95.83%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 28px;
}
.slide-items-box::after {
  position: absolute;
  content: "";
  width: 517px;
  height: 423px;
  left: -55px;
  bottom: -55px;
  background: linear-gradient(80.8deg, #0065c8 -27.72%, #00d5fc 81.62%);
  opacity: 0.5;
  border-radius: 30px;
  z-index: -1;
}
.title-slide-box {
  font-size: 40px;
  color: var(--color-white);
  font-weight: 700;
}
.slide-box-desc {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 400;
}
.btn-more-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn-more-service {
  font-size: 25px;
  font-weight: 500;
  color: var(--color-blue-dark);
  display: flex;
  align-items: center;
  justify-items: end;
  column-gap: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-white);
}

/* ===== About section styles ===== */
.section-about {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.about-title {
  font-size: 40px;
  font-weight: 700;
}
.about-desc {
  color: var(--color-blue-dark);
  line-height: 32px;
  text-align: justify;
}
.about-image {
  position: relative;
}
.image-device {
  position: relative;
  margin-top: 5rem;
}
.about-image img {
  width: 645px;
}
.about-shape {
  position: absolute;
  width: 434px;
  height: 434px;
  top: -12%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}
.about-shape span {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}
.about-shape span:not(:first-child) {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.about-shape span:first-child {
  width: 100%;
  height: 100%;
  background-color: var(--color-white-2);
}
.about-shape span:nth-child(2) {
  width: 332px;
  height: 332px;
  background-color: var(--color-blue-light);
}
.about-shape span:nth-child(3) {
  width: 216px;
  height: 216px;
  background-color: var(--color-blue-light-2);
}

/* ===== Services section styles ===== */
.section-services {
  margin-top: 3rem;
  background-color: var(--color-gray-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-about {
  color: var(--color-blue-dark);
  width: 832px;
  text-align: center;
  line-height: 32px;
  margin: 0 auto;
  font-size: 14px;
}
.service-items {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.service-item {
  width: 332px;
  height: 624px;
  background-color: var(--color-white);
  border-radius: 32px;
  box-shadow: 0px 5px 10px rgba(149, 149, 149, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px 30px 20px;
}
.service-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}
.service-item .service-icon {
  position: relative;
}
.service-icon img {
  width: 100%;
}
.overlay-icon {
  position: absolute;
  width: 39px;
  height: 39px;
  right: -18px;
  top: 0;
  border-radius: 50%;
  background-color: var(--color-blue-icon);
  text-align: center;
  line-height: 49px;
}
.overlay-icon img {
  width: 20px;
  height: 20px;
}
.service-title {
  font-size: 25px;
  color: var(--color-blue-dark);
  font-weight: 700;
}
.service-desc {
  height: 83px;
  line-height: 28px;
  color: var(--color-blue-dark);
  font-size: 14px;
}
.service-features {
  width: 100%;
}
.service-features ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}
.feature-item {
  font-size: 14px;
  color: var(--color-blue-icon);
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.feature-item span {
  color: var(--color-blue-dark);
}
.feature-icon {
  width: 20px;
  height: 20px;
}
.btn-service {
  background-color: var(--color-blue-dark);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* ===== Team section styles ===== */
.section-team {
  display: flex;
  flex-direction: column;
}
.team-about {
  color: var(--color-blue-dark);
  width: 832px;
  text-align: center;
  line-height: 32px;
  margin: 0 auto;
  font-size: 14px;
}
.team-members {
  display: flex;
  justify-content: space-between;
}
.member {
  margin-top: 4rem;
  width: 240px;
  height: 270px;
  background-color: var(--color-white);
  box-shadow: 0px 5px 15px rgba(149, 149, 149, 0.15);
  border-radius: 32px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-image img {
  width: 122px;
  height: 122px;
}
.info-member {
  text-align: center;
}
.name-member {
  font-size: 20px;
  color: var(--color-blue-dark);
  font-weight: 400;
  margin-top: 10px;
}
.job-member {
  color: var(--color-blue-dark);
  font-weight: 300;
  font-size: 15px;
  margin-top: 8px;
}

/* ===== Customers section styles ===== */
.section-customers {
  margin-top: 2rem;
  height: 627px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-title {
  font-size: 39px;
  font-weight: 700;
  color: var(--color-blue-dark);
}
.customer-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-blue-dark);
  margin-top: 6px;
}
.customer-desc {
  width: 582px;
  text-align: justify;
  color: var(--color-blue-dark);
  font-size: 16px;
  line-height: 32px;
  margin-top: 18px;
}
.customers-list {
  width: 789px;
  height: 627px;
  background-color: var(--color-gray-3);
  border-radius: 0px 30px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}
.customer-row {
  display: flex;
  justify-content: space-between;
}
.customers-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.customer-row .logo-icon {
  width: 205px;
  height: 170px;
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon img {
  width: 100%;
}

/* ========== Service Page ========== */
/* .section-header-service {
  width: 100%;
  height: 658px;
  padding: 20px 35px;
  background: linear-gradient(-130deg, #0065c8 0%, #00d5fc 95.83%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.path-page {
  font-size: 15px;
  color: var(--color-white);
}
.path-page span a {
  color: var(--color-white);
}
.header-service {
  display: flex;
  transform: translateY(12%);
}
.header-service-text {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.header-service-title {
  font-size: 48px;
  color: var(--color-white);
  font-weight: 700;
}
.header-service-desc {
  color: var(--color-white);
  font-size: 27px;
  font-weight: 400;
  line-height: 50px;
}
.header-service-image {
  width: 50%;
}
.header-service-image img {
  width: 690px;
}
.btn-more-read {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  column-gap: 10px;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 13px;
  color: var(--color-blue-dark);
  font-size: 16px;
} */

/* ===== Detail service ===== */
/* .section-detail-service {
  margin-top: 4rem;
}
.detail-service-box {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}
.detail-service-icon {
  position: relative;
}
.detail-title {
  font-size: 30px;
  color: var(--color-blue-dark);
  font-weight: 700;
} */
